<a href="https://colab.research.google.com/github/hrithikpurwar/ML/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import seaborn as sns
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
df1=pd.read_csv('/content/airline_accidents.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,23,24,25,26) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df2=pd.read_csv('/content/faa_incidents_data.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (12,14) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df3=pd.read_csv('/content/ntsb_aviation_data.csv')

UnicodeDecodeError: ignored

In [ ]:
df1.head()

          Event Id Investigation Type  ... Report Publication Date Unnamed: 30
0  20080125X00106           Accident   ...             02/28/2008
1  20080206X00141           Accident   ...             02/06/2008
2  20080129X00122           Accident   ...             02/28/2008
3  20080114X00045           Accident   ...             06/20/2014
4  20080109X00032           Accident   ...             01/15/2009

[5 rows x 31 columns]

In [ ]:
df1.isnull().sum()

Event Id                   0
Investigation Type         0
Accident Number            0
Event Date                 0
Location                   0
Country                    0
Latitude                   0
Longitude                  0
Airport Code               0
Airport Name               0
Injury Severity            0
Aircraft Damage            0
Aircraft Category          0
Registration Number        0
Make                       0
Model                      0
Amateur Built              0
Number of Engines          0
Engine Type                0
FAR Description            0
Schedule                   0
Purpose of Flight          0
Air Carrier                0
Total Fatal Injuries       0
Total Serious Injuries     0
Total Minor Injuries       0
Total Uninjured            0
Weather Condition          0
Broad Phase of Flight      0
Report Publication Date    0
Unnamed: 30                0
dtype: int64

In [ ]:
df1.replace(' ',np.nan, inplace=True)

In [ ]:
df1.isnull().sum()

Event Id                        0
Investigation Type              0
Accident Number                 0
Event Date                      0
Location                        0
Country                         0
Latitude                        0
Longitude                       0
Airport Code                    0
Airport Name                    0
Injury Severity                 0
Aircraft Damage                 0
Aircraft Category               0
Registration Number             0
Make                            0
Model                           0
Amateur Built                   0
Number of Engines               0
Engine Type                     0
FAR Description                 0
Schedule                        0
Purpose of Flight               0
Air Carrier                     0
Total Fatal Injuries            0
Total Serious Injuries          0
Total Minor Injuries            0
Total Uninjured                 0
Weather Condition               0
Broad Phase of Flight           0
Report Publication Date         0
Unnamed: 30                150959
dtype: int64

In [ ]:
df1.shape

(150959, 31)

In [ ]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150959 entries, 0 to 150958
Data columns (total 31 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   Event Id                 150959 non-null  object
 1   Investigation Type       150959 non-null  object
 2   Accident Number          150959 non-null  object
 3   Event Date               150959 non-null  object
 4   Location                 150959 non-null  object
 5   Country                  150959 non-null  object
 6   Latitude                 150959 non-null  object
 7   Longitude                150959 non-null  object
 8   Airport Code             150959 non-null  object
 9   Airport Name             150959 non-null  object
 10  Injury Severity          150959 non-null  object
 11  Aircraft Damage          150959 non-null  object
 12  Aircraft Category        150959 non-null  object
 13  Registration Number      150959 non-null  object
 14  Make                     150959 non-null  object
 15  Model                    150959 non-null  object
 16  Amateur Built            150959 non-null  object
 17  Number of Engines        150959 non-null  object
 18  Engine Type              150959 non-null  object
 19  FAR Description          150959 non-null  object
 20  Schedule                 150959 non-null  object
 21  Purpose of Flight        150959 non-null  object
 22  Air Carrier              150959 non-null  object
 23  Total Fatal Injuries     150959 non-null  object
 24  Total Serious Injuries   150959 non-null  object
 25  Total Minor Injuries     150959 non-null  object
 26  Total Uninjured          150959 non-null  object
 27  Weather Condition        150959 non-null  object
 28  Broad Phase of Flight    150959 non-null  object
 29  Report Publication Date  150959 non-null  object
 30  Unnamed: 30              150959 non-null  object
dtypes: object(31)
memory usage: 35.7+ MB

In [ ]:
df1.head()

          Event Id Investigation Type  ... Report Publication Date Unnamed: 30
0  20080125X00106           Accident   ...             02/28/2008
1  20080206X00141           Accident   ...             02/06/2008
2  20080129X00122           Accident   ...             02/28/2008
3  20080114X00045           Accident   ...             06/20/2014
4  20080109X00032           Accident   ...             01/15/2009

[5 rows x 31 columns]

In [ ]:
df1['Investigation Type'].unique()

array([' Accident ', ' Incident ', '  '], dtype=object)

In [ ]:
df1.replace('  ',np.nan, inplace=True)

In [ ]:
df1['Investigation Type'].unique()

array([' Accident ', ' Incident ', nan], dtype=object)

In [ ]:
df1.isnull().sum()

Event Id                        0
Investigation Type          87046
Accident Number                 0
Event Date                      7
Location                       52
Country                       507
Latitude                   138985
Longitude                  138995
Airport Code               116096
Airport Name               113581
Injury Severity                 0
Aircraft Damage             88691
Aircraft Category          143206
Registration Number          1281
Make                           22
Model                         107
Amateur Built                 102
Number of Engines           89594
Engine Type                 88498
FAR Description             56154
Schedule                   141046
Purpose of Flight           88765
Air Carrier                147848
Total Fatal Injuries        11401
Total Serious Injuries      12510
Total Minor Injuries        11933
Total Uninjured              5913
Weather Condition           87554
Broad Phase of Flight       89235
Report Publication Date     99786
Unnamed: 30                     0
dtype: int64

In [ ]:
df1.dropna(how='all',inplace=True)

In [ ]:
df1.isnull().sum()

Event Id                        0
Investigation Type          87046
Accident Number                 0
Event Date                      7
Location                       52
Country                       507
Latitude                   138985
Longitude                  138995
Airport Code               116096
Airport Name               113581
Injury Severity                 0
Aircraft Damage             88691
Aircraft Category          143206
Registration Number          1281
Make                           22
Model                         107
Amateur Built                 102
Number of Engines           89594
Engine Type                 88498
FAR Description             56154
Schedule                   141046
Purpose of Flight           88765
Air Carrier                147848
Total Fatal Injuries        11401
Total Serious Injuries      12510
Total Minor Injuries        11933
Total Uninjured              5913
Weather Condition           87554
Broad Phase of Flight       89235
Report Publication Date     99786
Unnamed: 30                     0
dtype: int64

In [ ]:
df1.drop(['Latitude'],axis=1,inplace=True)

In [ ]:
df1.drop(['Longitude'],axis=1,inplace=True)

In [ ]:
df1.drop(['Airport Code'],axis=1,inplace=True)

In [ ]:
df1.drop(['Airport Name'],axis=1,inplace=True)

In [ ]:
df1.drop(['Aircraft Category'],axis=1,inplace=True)

In [ ]:
df1.drop(['Schedule'],axis=1,inplace=True)

In [ ]:
df1.drop(['Air Carrier'],axis=1,inplace=True)

In [ ]:
df1.isnull().sum()

Event Id                       0
Investigation Type         87046
Accident Number                0
Event Date                     7
Location                      52
Country                      507
Injury Severity                0
Aircraft Damage            88691
Registration Number         1281
Make                          22
Model                        107
Amateur Built                102
Number of Engines          89594
Engine Type                88498
FAR Description            56154
Purpose of Flight          88765
Total Fatal Injuries       11401
Total Serious Injuries     12510
Total Minor Injuries       11933
Total Uninjured             5913
Weather Condition          87554
Broad Phase of Flight      89235
Report Publication Date    99786
Unnamed: 30                    0
dtype: int64

In [ ]:
df1.dropna(inplace=True)

In [ ]:
df1.head()

           Event Id Investigation Type  ... Report Publication Date Unnamed: 30
4   20080109X00032           Accident   ...             01/15/2009
9   20080103X00010           Accident   ...             12/03/2008
12  20080102X00006           Accident   ...             12/24/2008
16  20080104X00022           Accident   ...             01/14/2009
17  20071231X02008           Incident   ...             12/24/2008

[5 rows x 24 columns]

In [ ]:
df1.shape

(3559, 24)

In [ ]:
df1.isnull().sum()

Event Id                   0
Investigation Type         0
Accident Number            0
Event Date                 0
Location                   0
Country                    0
Injury Severity            0
Aircraft Damage            0
Registration Number        0
Make                       0
Model                      0
Amateur Built              0
Number of Engines          0
Engine Type                0
FAR Description            0
Purpose of Flight          0
Total Fatal Injuries       0
Total Serious Injuries     0
Total Minor Injuries       0
Total Uninjured            0
Weather Condition          0
Broad Phase of Flight      0
Report Publication Date    0
Unnamed: 30                0
dtype: int64

In [ ]:
df1.head()

           Event Id Investigation Type  ... Report Publication Date Unnamed: 30
4   20080109X00032           Accident   ...             01/15/2009
9   20080103X00010           Accident   ...             12/03/2008
12  20080102X00006           Accident   ...             12/24/2008
16  20080104X00022           Accident   ...             01/14/2009
17  20071231X02008           Incident   ...             12/24/2008

[5 rows x 24 columns]

In [ ]:
df1['Investigation Type'].unique()

array([' Accident ', ' Incident '], dtype=object)

In [ ]:
df1['Accident Number'].unique()

array([' NYC08FA071 ', ' DFW08LA052 ', ' SEA08LA054 ', ...,
       ' ATL82DA027 ', ' NYC82DA015 ', ' SEA82DA022 '], dtype=object)

In [ ]:
df1['Location'].unique()

array([' Cherokee, AL ', ' Crowley, TX ', ' Murrieta, CA ', ...,
       ' CHARLOTTE, MI ', ' SKWENTA, AK ', ' EAST HANOVER, NJ '],
      dtype=object)

In [ ]:
df1['Country'].unique()

array([' United States ', ' Bahamas '], dtype=object)

In [ ]:
df1['Injury Severity'].unique()

array([' Fatal(3) ', ' Fatal(2) ', ' Non-Fatal ', ' Incident ',
       ' Fatal(1) ', ' Fatal(5) ', ' Fatal(4) ', ' Fatal(27) ',
       ' Fatal(7) ', ' Fatal(8) ', ' Fatal(6) ', ' Fatal(12) '],
      dtype=object)

In [ ]:
df1.describe()

               Event Id Investigation Type  ... Report Publication Date Unnamed: 30
count              3559               3559  ...                    3559        3559
unique             3515                  2  ...                     386           1
top     20020917X04765           Accident   ...             12/28/2008
freq                  2               3463  ...                      25        3559

[4 rows x 24 columns]

In [ ]:
df1.corr()

Empty DataFrame
Columns: []
Index: []

In [ ]:
df1=pd.get_dummies(df1,drop_first=True)

In [ ]:
df1.head()

    Event Id_20001206X02071   ...  Report Publication Date_ 12/31/1983
4                          0  ...                                     0
9                          0  ...                                     0
12                         0  ...                                     0
16                         0  ...                                     0
17                         0  ...                                     0

[5 rows x 15595 columns]

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
#get correlations of each features in dataset
corrmat = df1.corr()
top_corr_features = corrmat.index
plt.figure(figsize=(20,20))
#plot heat map
g=sns.heatmap(df1[top_corr_features].corr(),annot=True,cmap="RdYlGn")