<a href="https://colab.research.google.com/github/hrithikpurwar/ML/blob/main/SVM_Classifier(SVC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df=pd.read_csv('/content/Data.csv',sep=',')

In [3]:
df.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [4]:
df.drop(['Sample code number'], axis=1, inplace=True)
df.head(15)

    Clump Thickness  Uniformity of Cell Size  ...  Mitoses  Class
0                 5                        1  ...        1      2
1                 5                        4  ...        1      2
2                 3                        1  ...        1      2
3                 6                        8  ...        1      2
4                 4                        1  ...        1      2
5                 8                       10  ...        1      4
6                 1                        1  ...        1      2
7                 2                        1  ...        1      2
8                 2                        1  ...        5      2
9                 4                        2  ...        1      2
10                1                        1  ...        1      2
11                2                        1  ...        1      2
12                5                        3  ...        1      4
13                1                        1  ...        1      2
14                8                        7  ...        4      4

[15 rows x 10 columns]

In [5]:
df.isnull().sum()

Clump Thickness                0
Uniformity of Cell Size        0
Uniformity of Cell Shape       0
Marginal Adhesion              0
Single Epithelial Cell Size    0
Bare Nuclei                    0
Bland Chromatin                0
Normal Nucleoli                0
Mitoses                        0
Class                          0
dtype: int64

In [6]:
df.dtypes

Clump Thickness                int64
Uniformity of Cell Size        int64
Uniformity of Cell Shape       int64
Marginal Adhesion              int64
Single Epithelial Cell Size    int64
Bare Nuclei                    int64
Bland Chromatin                int64
Normal Nucleoli                int64
Mitoses                        int64
Class                          int64
dtype: object

In [7]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1:]

In [8]:
Y.head()

   Class
0      2
1      2
2      2
3      2
4      2

In [9]:
X.head()

   Clump Thickness  Uniformity of Cell Size  ...  Normal Nucleoli  Mitoses
0                5                        1  ...                1        1
1                5                        4  ...                2        1
2                3                        1  ...                1        1
3                6                        8  ...                7        1
4                4                        1  ...                1        1

[5 rows x 9 columns]

In [10]:
df.shape

(683, 10)

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.3, random_state=0)

In [12]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

(478, 9)
(478, 1)
(205, 9)
(205, 1)

In [13]:
from sklearn.preprocessing import StandardScaler
sc_X=StandardScaler()
X_train=sc_X.fit_transform(X_train)
X_test=sc_X.transform(X_test)

In [15]:
from sklearn.svm import SVC
classifier1=SVC(kernel='linear')
classifier1.fit(X_train,Y_train)
Y_pred1=classifier1.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [16]:
from sklearn.metrics import confusion_matrix
cn=confusion_matrix(Y_test,Y_pred1) #4+6=10 incorrect prediction
print(cn)

[[126   4]
 [  4  71]]

In [17]:
#4+4=8 incorrect results

In [18]:
 from sklearn.metrics import accuracy_score
 score=accuracy_score(Y_test, Y_pred1)*100
 print('accuracy=',score,'%')

accuracy= 96.09756097560975 %

In [19]:
print(classifier1.predict(sc_X.transform([[3,1,1,1,2,2,3,1,1]])))

[2]